@font-face {
	font-family: 'ProductSans';
	src: url('../../fonts/productSans/ProductSans-Thin.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../../fonts/productSans/ProductSans-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../../fonts/productSans/ProductSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../../fonts/productSans/ProductSans-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../../fonts/productSans/ProductSans-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../../fonts/productSans/ProductSans-Black.ttf');
	font-weight: 900;
}
