.add-review {
	min-height: 60vh;
	margin-block-start: 1em;
	background-color: var(--mail-bg-clr-2);
	padding: 12px;
	width: 90vw;
	text-align: center;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}

.add-review-form {
	align-items: center;
}

.add-review-form > * {
	width: 300px;
	margin-block-end: 1em;
}

.add-review-form .description {
	height: 100px;
}

.add-review .exit-btn {
	align-self: flex-start;
}
