.user-msg {
	background-color: #292c29;
	padding: 0.7em;
	position: fixed;
	bottom: 1em;
	left: 1em;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 0.4em;
}

.user-msg.success {
	background-color: #292c29;
	color: white;
}

.user-msg.error {
	border: 1px rgb(243, 84, 84) solid;
	color: white;
}

.user-msg button {
	background-color: #292c29;
	color: white;
	float: right;
	margin: 1em;
}